 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@300&display=swap');
 body{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    
}

.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s infinite;
}

@keyframes ring{
    /*0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px teal;
    }*/
    50%{
        transform: rotate(190deg);
        box-shadow: 1px 5px 2px teal;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px orange;
    }
}

.ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255, .3);
}

span{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 2s linear infinite;
}

@keyframes text{
    0%{
        color: black;
    }
    100%{
        color: white;
    }
}